<!-- <section class="about">
  <div class="about__title-wrapper">
    <label class="about__label" for="about__title">TRADITION AND LOVE</label>
    <h1 class="about__title">HOW IT'S MADE?</h1>
  </div>
  <div class="about__picture-wrapper">
    <img
      src="/images/cow280w.png"
      alt="cow and splashed milk"
      srcset="/images/cow280w.png 280w, /images/cow560w.png 560w"
      sizes="280px"
    />
  </div>
  <div class="about__paragraph-wrapper">
    <ul class="about__list">
      <li class="about__list-item">
        <p class="about__paragraph">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
      </li>
      <li class="about__list-item--background">
        <p class="about__paragraph--background">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.<br /><br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
      </li>
      <li class="about__list-item">
        <div class="button__wrapper">
          <button type="button" class="about__button">
            <img src="/images/icons/about_btn.svg" alt="read more" />
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="about__paragraph-wrapper">
    <ul class="about__list">
      <li class="about__list-item">
        <ul class="about__statistics">
          <li class="about__statistics-item">
            <img src="/images/icons/about1.svg" alt="ikona" width="33" />
          </li>
          <li class="about__statistics-item">
            <strong class="about__statistics-number">721</strong>
          </li>
          <li class="about__statistics-item">
            <p class="about__statistics-label">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
      <li class="about__list-item">
        <ul class="about__statistics">
          <li class="about__statistics-item">
            <img src="/images/icons/about2.svg" alt="ikona" width="50" />
          </li>
          <li class="about__statistics-item">
            <strong class="about__statistics-number">16kg</strong>
          </li>
          <li class="about__statistics-item">
            <p class="about__statistics-label">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
      <li class="about__list-item">
        <ul class="about__statistics">
          <li class="about__statistics-item">
            <img src="/images/icons/about3.svg" alt="ikona" width="44" />
          </li>
          <li class="about__statistics-item">
            <strong class="about__statistics-number">84</strong>
          </li>
          <li class="about__statistics-item">
            <p class="about__statistics-label">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section> -->
