<section class="about">
  <div class="about__title-wrapper">
    <label class="about__label" for="about__title">TRADITION AND LOVE</label>
    <h1 class="about__title">HOW IT'S MADE?</h1>
  </div>

  <div class="about--flex">
    <div class="about__picture--mobile">
      <!-- <source
        media="(max-width: 767px)"
        srcset="
          ../images/making/cow-mob.png    280w,
          ../images/making/cow-mob@2x.png 560w
        "
      /> -->
      <!-- <img src="../images/making/cow-mob.png" alt="cow and splashed milk" /> -->
    </div>
    <div class="about__picture--tablet">
      <!-- <source
        media="(min-width: 768px)"
        srcset="
          ../images/making/cow-tablet.png    340w,
          ../images/making/cow-tablet@2x.png 680w
        "
      /> -->
      <!-- <img
        src="../images/making/cow-tablet.png"
        alt="cow and splashed milk"
      /> -->
    </div>
    <div class="about__picture--desktop">
      <!-- <source
        media="(min-width: 1280px)"
        srcset="
          ../images/making/cow-desktop.png     516w,
          ../images/making/cow-desktop@2x.png 1032w
        "
      /> -->
      <!-- <img
        src="../images/making/cow-desktop.png"
        alt="cow and splashed milk"
      /> -->
    </div>
    <div class="about__paragraph-wrapper">
      <ul class="about__list">
        <li class="about__list-item">
          <p class="about__paragraph">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
        </li>
        <li class="about__list-item--background">
          <p class="about__paragraph--background">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.<br /><br />
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </li>
        <li class="about__list-item">
          <div class="button__wrapper">
            <button type="button" class="about__button">
              <img src="/src/images/making/about_btn.svg" alt="read more" />
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about__paragraph-wrapper">
    <ul class="about__list-statistics">
      <li class="about__list-item">
        <ul class="about__statistics">
          <li class="about__statistics-item">
            <img
              src="../images/making/icon1.png"
              alt="ikona"
              width="33"
              height="50"
            />
            <img
              src="../images/making/icon1@2x.png"
              alt="ikona"
              width="33"
              height="50"
            />

          </li>
          <li class="about__statistics-item">
            <strong class="about__statistics-number">721</strong>
          </li>
          <li class="about__statistics-item">
            <p class="about__statistics-label">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
      <li class="about__list-item">
        <ul class="about__statistics">
          <li class="about__statistics-item">

            <img
              src="../images/making/icon2.png"
              alt="ikona"
              width="50"
              height="50"
            />
            <img
              src="../images/making/icon2@2x.png"
              alt="ikona"
              width="50"
              height="50"
            />

          </li>
          <li class="about__statistics-item">
            <strong class="about__statistics-number">16kg</strong>
          </li>
          <li class="about__statistics-item">
            <p class="about__statistics-label">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
      <li class="about__list-item">
        <ul class="about__statistics">
          <li class="about__statistics-item">

            <img
              src="../images/making/icon3.png"
              alt="ikona"
              width="44"
              height="50"
            />
            <img
              src="../images/making/icon3@2x.png"
              alt="ikona"
              width="44"
              height="50"
            />

          </li>
          <li class="about__statistics-item">
            <strong class="about__statistics-number">84</strong>
          </li>
          <li class="about__statistics-item">
            <p class="about__statistics-label">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
