<section class="section-review">
        <div class="review">
          <picture class="review__img">
            <source
              srcset="./images/reviews.jpg 1x, ./images/reviews@2x.jpg 2x"
            />

            <img
              src="./images/reviews.jpg"
              alt="smiling woman holding her cheeks with her hands"
            />
          </picture>
        </div>
     <div class="swiper swiper-pointer-events">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" role="group" aria-label="1 / 3"> 
      <div class="container-review review">
          <div class="swiper">          
            <div class="review--gradient">
            
             <p class="review__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</p>
            
          </div></div></div></div>
    <div class="swiper-slide" role="group" aria-label="2 / 3">
      <div class="container-review review">
          <div class="swiper">          
            <div class="review--gradient">
            
             <p class="review__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</p>
            
          </div></div></div></div>
    <div class="swiper-slide" role="group" aria-label="3 / 3">
      <div class="container-review review">
          <div class="swiper">          
            <div class="review--gradient">
            
             <p class="review__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</p>
            
          </div></div></div></div>
    
  </div>

</div>
        <div>
            <div class="review__dot">
              <span class="review__dot__item"></span>
              <span class="review__dot__item"></span>
              <span class="review__dot__item"></span>
            </div>
        <div class="review__address">
            Emily, Los Angeles
        </div>

        <div>
          <ul class="review__home">
            <li class="review__home__item"><svg class="review__home__item--svg" width="12"
            height="12">
            <use
            href="./images/sprite.svg#icon-home"
            ></use>
         </svg></li>
         <li class="review__home__item review__home__item--dot"></li>
         <li class="review__home__item review__home__item--dot"></li>
          </ul>
        </div>
        </div>
      </section>