<section class="section-review">
        <div class="review">
          <picture class="review__img">
            <source
              srcset="./images/testimonials1.png 1x, ./images/testimonials1@2x.png 2x"
            />

            <img
              src="./images/reviews/testimonials1.png"
              alt="smiling woman holding her cheeks with her hands"
            />
          </picture>
        </div>
        <div class="container-review review">
          <div class="review--gradient">
            
             <p class="review__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</p>
            
          </div></div>
        <div>
            <div class="review__dot"></div>
        <div class="review__address">
            Emily, Los Angeles
        </div>
        <div>
          <ul class="review__home">
            <li class="review__home__item"><svg class="review__home__item--svg" width="12"
            height="12">
            <use
            href="./images/sprite.svg#icon-home"
            ></use>
         </svg></li>
         <li class="review__home__item review__home__item--dot"></li>
         <li class="review__home__item review__home__item--dot"></li>
          </ul>
        </div>
      </section>