
<header class="header">
  <div class="header__container">
    <!-- NAVIGATION -->
    <nav class="header__nav">
      <img
        class="header__nav__logo"
        src="./images/hero/navigation/logoheader.png"
        alt="red logotype on header"
      />
      <ul class="header__list">
        <li>
          <a class="header__link" href="#">Home</a>
        </li>
        <li><a class="header__link" href="#">About us </a></li>
        <li><a class="header__link" href="#">How it's made?</a></li>
        <li><a class="header__link" href="#">Our products</a></li>
        <li><a class="header__link" href="#">Contact</a></li>
      </ul>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          width="20"
          height="12"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <button class="header__nav-btn" type="button">Buy now ></button>
      <!-- <svg class="header__burger-btn" width="40px" height="40px">
        <use href="./images/hero/burger-hero.svg#icon-Burger-1"></use>
      </svg> -->
    </nav>

    <!-- NAVIGATION ENO OF-->
    <h1 class="header__caption">
      <span>ICE CREAM</span><br />
      <span>MADE WITH</span><br /><span class="header__caption--enlarge"
        >PASSION</span
      >
    </h1>
    <button class="header__button header__button--dark" type="button">
      Products
    </button>
    <button class="header__button header__button--white" type="button">
      How it's made?
    </button>
    <p class="header__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, excepturi
      omnis quam iure praesentium a! Et.
    </p>
    <button class="header__text-btn" type="button"></button>
    <span class="header__counter header__counter--cafes">16</span>
    <span class="header__counter header__counter--trucks">23</span>

    <img
      class="header__milk-jug-img"
      src="./images/hero/milk/milk-jug.png"
      alt="Jug of milk"
      srcset="
        ./images/hero/milk/milk-jug@2x.png 2x,
        ./images/hero/milk/milk-jug@3x.png 3x
      "
    />
    <img
      class="header__icecream-girl-img"
      src="./images/hero/girl/icecream-girl.png"
      alt="A hot girl with cold icecream"
      srcset="
        ./images/hero/girl/icecream-girl@2x.png 2x,
        ./images/hero/girl/icecream-girl@3x.png 3x
      "
    />
    <img
      class="header__icecream-img"
      src="./images/hero/icecream/icecream.png"
      alt="Tasty Ice Cream"
      srcset="
        ./images/hero/icecream/icecream@2x.png 2x,
        ./images/hero/icecream/icecream@3x.png 3x
      "
    />
    <div class="header__background-circle"></div>
  </div>
</header>

